body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Exo 2", sans-serif; }

.card-header {
  position: relative;
  height: 220px;
  background-image: url("../images/profile-picture.png");
  background-size: cover;
  background-position: top; }
  .card-header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #055586, rgba(181, 181, 181, 0.1)); }
  .card-header .card-header-bar {
    position: absolute;
    top: 0;
    width: 100%; }
    .card-header .card-header-bar .btn-message {
      display: inline-block;
      background: url("../images/message.svg") no-repeat;
      width: 19.37px;
      height: 16.99px;
      margin-right: 10px;
      margin-top: 10px;
      float: right; }
    .card-header .card-header-bar .btn-menu {
      display: inline-block;
      background: url("../images/menu.svg") no-repeat;
      width: 19px;
      height: 12.16px;
      margin-left: 10px;
      margin-top: 10px;
      float: left; }
  .card-header .card-header-slanted-edge {
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1; }
    .card-header .card-header-slanted-edge .btn-follow {
      position: absolute;
      top: -15px;
      right: 25px;
      width: 45px;
      height: 45px;
      background: linear-gradient(to left, #2D77C1, #68FAC2);
      border-radius: 100%;
      box-shadow: 0 10px 15px rgba(110, 221, 235, 0.53); }
      .card-header .card-header-slanted-edge .btn-follow:after {
        content: '';
        position: absolute;
        width: 17px;
        height: 17px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url("../images/add.svg") no-repeat; }

.card-body {
  text-align: center;
  padding: 0 15px; }
  .card-body .name {
    font-size: 28px;
    font-weight: 700px;
    text-transform: uppercase;
    margin: 0 auto; }
  .card-body .job-title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    color: #919191; }
  .card-body .bio {
    font-size: 14px;
    color: #7b7b7b;
    font-weight: 300;
    margin: 10px auto;
    line-height: 20px; }
  .card-body .social-accounts {
    margin: 0 auto;
    display: flex;
    width: 20%;
    justify-content: space-between; }
    .card-body .social-accounts img {
      width: 15px; }

.card-footer {
  position: fixed;
  width: 100%;
  bottom: 20px; }
  .card-footer .stat {
    box-sizing: border-box;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    border-left: 1px solid #ebebeb; }
    .card-footer .stat .label {
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 11px;
      letter-spacing: 1px;
      color: #95989a; }
    .card-footer .stat .value {
      display: block;
      font-weight: 700;
      font-size: 20px;
      margin-top: 5px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border: none;
  overflow: hidden; }

svg .polygon {
  fill: #fff; }
